@using WebInquirer.Classes
@model WebInquirer.Classes.Test

@{
    ViewBag.Title = "Результат опроса";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> @Model.Name </h2>
<h4>@Model.Description</h4>
<hr />

<p></p>

@foreach (var answer in  Model.Answers)
{
<strong>@answer.Name</strong>
<br/>

switch (answer.Type)
{
    case Types.Checkbox:
        foreach (var option in answer.Options)
        {
            @option.Name
            <br />
        }
        break;

    case Types.Edit:
    case Types.Select:
        @answer.Value

        break;
}
 <p></p>
}

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a class="btn btn-default" href="@Url.Action("Index", "Home")">Назад</a>
    </div>
</div>




